
/*!* ----------
* $Base
*/

html
  color white
  font-family Ubuntu

body
  width 100vw
  height 100vh
  overflow hidden

hr
  border 0
  height 0
  border-top 1px solid #222
  margin 1.5em

form
  text-align center

.inp-cont
  display inline-block
  position relative
  margin-bottom .5em
  width 100%
  & .icon
    color #fff
    position absolute
    top 0
    left 0
    background #000
    font-size 1.3em
    width 1.5em
    height 100%
    line-height 1.8em
    text-align center
  & input
  & textarea
    padding-left 1.7em
    width 100%
  & textarea
    height 10.3em
    resize none

textarea
input
  background white
  border 3px solid black
  padding .2em .5em
  font-size 1.3em
  line-height 1em
  font-family Ubuntu-Mono
  display block
  margin auto
  &::placeholder
    text-align center

input
  &:invalid
    color red
    &:focus
      color #000
  &:valid
    color #111
    &:focus
      color #000
  &[type='submit']
    cursor pointer
    &:valid
      color white
    &:focus
      outline none
    &:active
      background #05b5b5

.g487
  fill white
  width 150%
  height 150%
  position absolute
  top 53%
  left 50%
  transform translate(-50%, -50%)

.logoCian
  display none
  width 100%
  height 100%
  position absolute
  top 0
  left 0
  z-index -1
  transform translate(-6px, -3px)
  .trazo-Logo
    fill #00ffff !important

.logoRojo
  display none
  width 100%
  height 100%
  position absolute
  top 0
  left 0
  z-index -2
  transform translate(6px, 2px)
  .trazo-Logo
    fill red !important
