
/*!* ----------
* $Fonts
*/

@font-face
    font-family Ubuntu
    src url(../fonts/Ubuntu-Regular.ttf)

@font-face
    font-family Ubuntu-Bold
    src url(../fonts/Ubuntu-Bold.ttf)

@font-face
  font-family Ubuntu-Mono
  src url(../fonts/UbuntuMono-Regular.ttf)
