
/*!* ----------
* $Media-query
*/
//////
@media only screen and (min-width: bp-small)
  .cc
    color red

//////
@media only screen and (min-width: bp-medium)
  html
    font-size medium_font-size

  .cont
    height 100vh

  .verbose
    h1
      font-size 2em

////
@media only screen and (min-width: bp-large)
  html
    font-size large_font-size

//////
@media only screen and (min-width: bp-xlarge)
  html
    font-size xlarge_font-size

  .backlogo
    width 15em
    height 15em

//////
@media only screen and (min-width: bp-xxlarge)
  html
    font-size xxlarge_font-size
