/** ----------
* $Modulos
*/
.glitch-show
  animation anim-glitch-show 3s infinite linear alternate

.glitch-hide
  display block
  animation anim-glitch-hide 3s infinite linear alternate

.glitch-rotate-titles
  animation anim-glitch-rotate-titles 2s infinite linear alternate

.menues-backbar
  position fixed
  top 0
  left 0
  z-index 9
  width 100%
  display flex
  justify-content space-between
  align-items center
  background transparent
  padding .5em
  transition 500ms

.social
  z-index 9
  top 0.5em
  left 0.5em
  & a
    text-decoration none
    padding 0.4em
    &:hover i
      color #666
    &:active i
      color #f00
  &:focus
    outline none
  & i
    font-size 1.2em
    color #e0e0e0
    text-shadow -1px -1px #999
    transition 300ms

.s-title
  font-size 2em
  line-height 1em

.skillcloud li
  display inline-block
  &::before
    content '< '
    color white
  &::after
    content ' >'
    color white

#mm-toggle
  display none
  &:checked ~ .mm-hamburger .mm-btn
    background-color: transparent
    &::before
      top 0
      transform rotate(45deg)
      background-color #f00
    &::after
      top 0
      transform rotate(-45deg)
      background-color #f00
  &:checked ~ .mm-menu
    display block

.mm-hamburger
  background-color #000
  width 2em
  height 2em
  position relative
  display block
  cursor pointer

.mm-btn
  width 70%
  height 13%
  background-color #fff
  display inline-block
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
  transition 300ms
  &::before
  &::after
    position absolute
    content ''
    width 100%
    height 100%
    background-color #fff
    transition 300ms
  &::before
    top -200%
  &::after
    top 200%

.mm-menu
  display none
  position absolute
  top 2em
  right 0
  background-color #000
  padding 0.5em 0
  width 10em
  & a
    text-align right
    color #fff
    user-select none
    padding 0.5em 1.5em
    width 100%
    height 100%
    display block
    &:hover
      padding-left 0.7em
      color #0ff
      &::before
        content '> '
    &:active
      color #666
      &::before
        content '>'
    &[disabled]
      color #333 !important
      cursor not-allowed
      &:hover::before
        display none
      &:active::after
        position absolute
        content attr(data-info)
        background black
        color #fff
        border 1px solid #666
        border-radius 5px
        left 0
        font-size .7em
        padding 0 .5em


.mm-selected
  color #f00 !important
  transform rotate(180deg)
  text-align right !important
  &:hover::before
    display none

.btn-submit
  display inline-block
  position relative
  overflow hidden
  border 3px solid black
  box-shadow 1px 1px 2px #999
  & input
    color white
    background black
    padding .5em
    font-size 1.3em
    text-transform uppercase
    font-weight bold
    border none
  &::after
  &::before
    content ''
    background white
    display block
    height 100%
    position absolute
    top 0
    transform skewX(-45deg)
    opacity 0.3
    transition 1000ms
    pointer-events none
  &::before
    width 1em
    left 10em
  &::after
    width .5em
    left 11.5em
  &:hover
    &::before
      left 0em
    &::after
      left 1.5em


.btn
  color white
  background black
  border 3px solid black
  padding .5em
  font-size 1em
  text-transform uppercase
  font-weight bold
  position relative
  overflow hidden
  display block
  &::before
  &::after
    content ''
    background white
    display block
    width 1em
    height 100%
    position absolute
    top 0
    left .5em
    transform skewX(45deg)
    opacity 0.3
    transition 500ms
  &::after
    width .5em
    left 2em
  &:hover
    &::after
      left 3.5em
    &::before
      left 2em
  &:active
    background green

.search-box
  background url("../img/searchicon.png") no-repeat .3em center
  background-color white
  padding-left 1.5em
  &::placeholder
    text-align left
