@charset "UTF-8";
/** ################################################### */
/**
*  [ @Master ] - Personal Page (v1.0)
*    Author: Gunther Molina
*    Modificacion:
*        09/01/19 - [/alpha]
*        30/01/19 - [/v1.0]
*/
/** ----------
*   $INDEX
*   ----------
*        -Fonts      //Definicion de Fontfaces
*        -Reset      //Reset basico
*        -Functions  //Funciones (Stylus)
*        -Base       //Estilos basicos
*        -Core       //Estilos estructurales
*        -Modulos    //Estilos de Modulos
*
*        -Keyframes
*        -Media-querys
*/
/** ################################################### */
/** ----------
* $Fonts
*/
@font-face {
  font-family: Ubuntu;
  src: url("../fonts/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: Ubuntu-Bold;
  src: url("../fonts/Ubuntu-Bold.ttf");
}
@font-face {
  font-family: Ubuntu-Mono;
  src: url("../fonts/UbuntuMono-Regular.ttf");
}
/** ----------
* $Reset
*/
* {
  text-decoration: none;
  list-style: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  box-sizing: border-box;
}
html {
  line-height: 1.5em;
  font-size: 1em;
}
/** ----------
* $Base
*/
html {
  color: #fff;
  font-family: Ubuntu;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
hr {
  border: 0;
  height: 0;
  border-top: 1px solid #222;
  margin: 1.5em;
}
form {
  text-align: center;
}
.inp-cont {
  display: inline-block;
  position: relative;
  margin-bottom: 0.5em;
  width: 100%;
}
.inp-cont .icon {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  font-size: 1.3em;
  width: 1.5em;
  height: 100%;
  line-height: 1.8em;
  text-align: center;
}
.inp-cont input,
.inp-cont textarea {
  padding-left: 1.7em;
  width: 100%;
}
.inp-cont textarea {
  height: 10.3em;
  resize: none;
}
textarea,
input {
  background: #fff;
  border: 3px solid #000;
  padding: 0.2em 0.5em;
  font-size: 1.3em;
  line-height: 1em;
  font-family: Ubuntu-Mono;
  display: block;
  margin: auto;
}
textarea::placeholder,
input::placeholder {
  text-align: center;
}
input:invalid {
  color: #f00;
}
input:invalid:focus {
  color: #000;
}
input:valid {
  color: #111;
}
input:valid:focus {
  color: #000;
}
input[type='submit'] {
  cursor: pointer;
}
input[type='submit']:valid {
  color: #fff;
}
input[type='submit']:focus {
  outline: none;
}
input[type='submit']:active {
  background: #05b5b5;
}
.g487 {
  fill: #fff;
  width: 150%;
  height: 150%;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logoCian {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translate(-6px, -3px);
}
.logoCian .trazo-Logo {
  fill: #0ff !important;
}
.logoRojo {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  transform: translate(6px, 2px);
}
.logoRojo .trazo-Logo {
  fill: #f00 !important;
}
/** ----------
* $Core
*/
.cont {
  postion: relative;
  width: 100vw;
}
.l-portada {
  background-color: #fafafa;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Ubuntu-Mono;
}
.backlogo {
  width: 10em;
  height: 10em;
  background-color: #000;
  transform: rotate(45deg);
  margin-top: 2em;
  box-shadow: 1px 1px 2px #999;
}
.logo {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: rotate(-45deg);
}
.verbose {
  background-color: #000;
  display: inline-block;
  padding: 0.5em;
  position: relative;
  text-align: center;
  white-space: nowrap;
  margin-top: 4em;
  box-shadow: 1px 1px 2px #999;
}
.verbose .ver-name {
  font-size: 1.5em;
  line-height: 1em;
  letter-spacing: 0.1em;
}
.verbose .ver-sub {
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1em;
  margin-top: -0.2em;
  text-align: left;
  padding-left: 0.5em;
}
.verbose .contact {
  letter-spacing: 0.05em;
  cursor: pointer;
  padding: 0.5em;
  background-color: transparent;
  color: #000;
  position: absolute;
  border: none;
  right: 2px;
  bottom: -1.6em;
  font-family: Ubuntu-Mono;
  font-size: 0.8em;
  font-weight: bold;
}
.verbose .contact:hover {
  color: #f00;
}
.verbose .contact:focus {
  outline: none;
}
.l-cuerpo {
  width: 100vw;
  height: 100vh;
  font-family: Ubuntu-Mono;
  overflow-y: auto;
  overflow-x: hidden;
  margin: auto;
  transform: skewX(20deg);
}
.ShiningLines {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 150vw;
  width: 10vw;
  height: 100vh;
  transform: skewX(-20deg);
  animation: shining-moves 6s infinite;
}
.ShiningLines::before,
.ShiningLines::after {
  background-color: #fff;
  position: absolute;
  top: 0;
  height: 100vh;
  content: '';
}
.ShiningLines::after {
  left: 40vw;
  width: 20vw;
}
.ShiningLines::before {
  left: 15vw;
  width: 5vw;
}
.skw-cont {
  background-color: #000;
  position: absolute;
  top: 0;
  left: 150vw;
  width: 200vw;
  height: 100vh;
  transform: skewX(-20deg);
  font-family: Ubuntu-Mono;
  box-shadow: -2px -2px 30px #bbb;
}
.c-section {
  width: 100%;
  padding: 3.5em 1em 1em 1em;
}
.c-about {
  padding-top: 5.5em;
}
.c-about .s-title-cont {
  float: left;
  margin-top: 4em;
  margin-right: -100%;
  display: inline-block;
  width: 3em;
  height: 13em;
  padding: 0.5em 0;
  background: #000;
}
.c-about .s-title {
  writing-mode: vertical-lr;
  font-size: 3em !important;
  width: 100%;
  text-transform: uppercase;
}
.abt-desc-cont {
  background: #000;
  position: absolute;
  left: 0;
  width: 100%;
  transform: skewY(-12deg);
  z-index: -1;
  margin-top: -4em;
  padding-top: 5em;
  padding-bottom: 2em;
}
.abt-desc {
  font-size: 1.125em;
  transform: skewY(12deg);
  padding: 0 1em;
  max-width: 39em;
  margin: auto;
}
.abt-desc p {
  text-align: center;
}
.link-list {
  padding-right: 0.5em;
  margin: 0.5em 0 1em 0;
}
.link-list a {
  text-align: center;
  display: block;
  margin: auto;
  width: 7em;
  position: relative;
  color: #0ff;
}
.link-list a::before,
.link-list a::after {
  transition: 500ms;
  opacity: 0;
  position: absolute;
}
.link-list a::before {
  left: 1em;
  content: '[';
}
.link-list a::after {
  right: 1em;
  content: ']';
}
.link-list a:hover {
  color: #000;
  background: #fff;
}
.link-list a:hover::before,
.link-list a:hover::after {
  color: #000;
  opacity: 1;
}
.link-list a:hover::before {
  transform: translateX(-1em);
}
.link-list a:hover::after {
  transform: translateX(1em);
}
.abt-freelance {
  font-size: 1.1em;
  color: #adff2f;
  margin: auto;
  margin-bottom: 1.5em;
  max-width: 20em;
}
.retrato {
  width: 15em;
  display: block;
  margin: auto;
}
.c-contact {
  color: #fff;
  width: 100%;
  min-height: 100%;
}
.c-contact .s-title {
  color: #000;
  margin-bottom: 0.5em;
}
.c-form {
  margin: auto;
  width: 80%;
  max-width: 30em;
}
.c-folio {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  height: 100vh;
  background: #eee;
}
.c-folio .s-title {
  text-align: right;
  font-size: 3em;
  padding-right: 1em;
}
.fl-cab {
  background: #000;
  padding: 1em;
  margin-top: -0.5em;
}
.fl-desc {
  line-height: 1em;
  margin: 0.5em 0 1em 0;
}
.fl-menu {
  display: flex;
}
.fl-select {
  font-size: 1.2em;
  padding: 0.2em 0.5em;
  font-family: Ubuntu-Mono;
  background: #fff;
  border: 3px solid #000;
  color: #000;
  display: block;
  margin: auto;
  width: 50%;
}
.fl-select option {
  background: #fafafa;
}
.fl-search {
  width: 50%;
}
.fl-ele {
  background: #fafafa;
  display: flex;
  padding: 0.5em;
  border-bottom: 1px solid #999;
  position: relative;
  height: 7em;
}
.fl-ele .ele-verb {
  padding-left: 0.5em;
  width: 100%;
  overflow: hidden;
}
.fl-ele .ele-verb .ele-cab {
  display: inline;
  line-height: 1em;
}
.fl-ele .ele-verb .ele-cab .ele-icon {
  color: #586069;
  display: inline-block;
  vertical-align: middle;
}
.fl-ele .ele-verb .ele-cab .ele-title {
  display: inline-block;
  vertical-align: middle;
  color: #8b0000;
  font-size: 1.1em;
  padding-left: 0.6em;
  text-transform: capitalize;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.fl-ele .ele-verb .ele-desc {
  font-size: 0.9em;
  line-height: 1em;
  padding-left: 1.5em;
  margin-top: 0.1em;
  color: #586069;
  max-width: 90%;
  max-height: 3em;
  overflow: hidden;
  text-transform: capitalize;
  text-overflow: ellipsis;
}
.fl-ele .ele-verb .ele-leng {
  padding-left: 2em;
  font-size: 0.8em;
  line-height: 1em;
  position: absolute;
  bottom: 1em;
}
.fl-ele .ele-verb .ele-leng .ele-leng-color {
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.3em;
  width: 1em;
  height: 1em;
  background: #f00;
}
.fl-ele .ele-verb .ele-leng .ele-leng-name {
  color: #586069;
  display: inline-block;
}
.ele-t1 img {
  width: 6em;
  height: 6em;
  background: #f00;
}
.ele-t2 .ele-verb {
  width: 100%;
}
/** ----------
* $Modulos
*/
.glitch-show {
  animation: anim-glitch-show 3s infinite linear alternate;
}
.glitch-hide {
  display: block;
  animation: anim-glitch-hide 3s infinite linear alternate;
}
.glitch-rotate-titles {
  animation: anim-glitch-rotate-titles 2s infinite linear alternate;
}
.menues-backbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 0.5em;
  transition: 500ms;
}
.social {
  z-index: 9;
  top: 0.5em;
  left: 0.5em;
}
.social a {
  text-decoration: none;
  padding: 0.4em;
}
.social a:hover i {
  color: #666;
}
.social a:active i {
  color: #f00;
}
.social:focus {
  outline: none;
}
.social i {
  font-size: 1.2em;
  color: #e0e0e0;
  text-shadow: -1px -1px #999;
  transition: 300ms;
}
.s-title {
  font-size: 2em;
  line-height: 1em;
}
#mm-toggle {
  display: none;
}
#mm-toggle:checked ~ .mm-hamburger .mm-btn {
  background-color: transparent;
}
#mm-toggle:checked ~ .mm-hamburger .mm-btn::before {
  top: 0;
  transform: rotate(45deg);
  background-color: #f00;
}
#mm-toggle:checked ~ .mm-hamburger .mm-btn::after {
  top: 0;
  transform: rotate(-45deg);
  background-color: #f00;
}
#mm-toggle:checked ~ .mm-menu {
  display: block;
}
.mm-hamburger {
  background-color: #000;
  width: 2em;
  height: 2em;
  position: relative;
  display: block;
  cursor: pointer;
}
.mm-btn {
  width: 70%;
  height: 13%;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 300ms;
}
.mm-btn::before,
.mm-btn::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: 300ms;
}
.mm-btn::before {
  top: -200%;
}
.mm-btn::after {
  top: 200%;
}
.mm-menu {
  display: none;
  position: absolute;
  top: 2em;
  right: 0;
  background-color: #000;
  padding: 0.5em 0;
  width: 10em;
}
.mm-menu a {
  text-align: right;
  color: #fff;
  user-select: none;
  padding: 0.5em 1.5em;
  width: 100%;
  height: 100%;
  display: block;
}
.mm-menu a:hover {
  padding-left: 0.7em;
  color: #0ff;
}
.mm-menu a:hover::before {
  content: '> ';
}
.mm-menu a:active {
  color: #666;
}
.mm-menu a:active::before {
  content: '>';
}
.mm-menu a[disabled] {
  color: #333 !important;
  cursor: not-allowed;
}
.mm-menu a[disabled]:hover::before {
  display: none;
}
.mm-menu a[disabled]:active::before {
  display: none;
}
.mm-menu a[disabled]:active::after {
  position: absolute;
  content: attr(data-info);
  background: #000;
  color: #fff;
  border: 1px solid #666;
  border-radius: 5px;
  left: 0;
  font-size: 0.7em;
  padding: 0 0.5em;
}
.grabado {
  text-shadow: none;
}
.mm-hover-box {
  background: transparent;
}
.mm-selected {
  color: #f00 !important;
  transform: rotate(180deg);
  text-align: right !important;
}
.mm-selected:hover::before {
  display: none;
}
.mm-selected-resp {
  text-shadow: none;
}
.btn-submit {
  display: inline-block;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 1px 1px 2px #999;
}
.btn-submit input {
  color: #fff;
  background: #000;
  padding: 0.5em;
  cursor: pointer;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
}
.btn-submit::after,
.btn-submit::before {
  content: '';
  cursor: pointer;
  background: #fff;
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  transform: skewX(-45deg);
  opacity: 0.3;
  transition: 1000ms;
  pointer-events: none;
}
.btn-submit::before {
  width: 1em;
  left: 10em;
}
.btn-submit::after {
  width: 0.5em;
  left: 11.5em;
}
.btn-submit:hover::before {
  left: 0em;
}
.btn-submit:hover::after {
  left: 1.5em;
}
.btn {
  color: #fff;
  cursor: pointer;
  background: #000;
  border: none;
  padding: 0.5em;
  font-size: 1em;
  text-transform: uppercase;
  outline: none;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  display: block;
}
.btn::before,
.btn::after {
  content: '';
  background: #fff;
  display: block;
  width: 1em;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0.5em;
  transform: skewX(45deg);
  opacity: 0.3;
  transition: 500ms;
}
.btn::after {
  width: 0.5em;
  left: 2em;
}
.btn:hover::after {
  left: 3.5em;
}
.btn:hover::before {
  left: 2em;
}
.btn:active {
  background: #008000;
}
.search-box {
  background: url("../img/searchicon.png") no-repeat 0.3em center;
  background-color: #fff;
  padding-left: 1.5em;
}
.search-box::placeholder {
  text-align: left;
}
.link-btn {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 0.5em;
  background: #fafafa;
  color: #222;
  margin-left: 50%;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  transform: translateX(-50%);
  font-weight: bold;
  box-shadow: 1px 1px 0 #ddd;
  border: 1px 1px solid #fff;
  cursor: pointer;
  user-select: none;
}
.link-btn::after,
.link-btn::before {
  content: '';
  background: #fff;
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  transform: skewX(-45deg);
  opacity: 0.5;
  transition: 1000ms;
  pointer-events: none;
}
.link-btn::before {
  width: 1em;
  left: 10em;
}
.link-btn::after {
  width: 0.5em;
  left: 11.5em;
}
.link-btn:hover {
  background: #eee;
}
.link-btn:hover::before {
  left: 0em;
}
.link-btn:hover::after {
  left: 1.5em;
}
.blog-prox {
  color: #999;
}
.modal-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.modal-window {
  display: inline-block;
  background: #fafafa;
  border: 4px solid #000;
  box-shadow: 2px 2px #f00, -2px -2px #0ff;
  margin: 1em;
}
.modal-title {
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: center;
  background: #000;
  color: #fff;
  font-weight: bold;
}
.modal-verbose {
  font-size: 1em;
  color: #000;
  text-align: center;
  margin: 0.5em;
}
.modal-btn {
  margin: auto;
  margin-bottom: 1em;
}
/** ----------
* $Keyframes
*/
@-moz-keyframes anim-glitch-hide {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
  }
  89% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
  }
  91% {
    clip-path: polygon(0 100%, 100% 100%, 100% 47%, 0 47%);
  }
  92% {
    clip-path: polygon(0 93%, 100% 93%, 100% 19%, 0 19%);
  }
  93% {
    clip-path: polygon(0 18%, 100% 18%, 100% 50%, 0 50%);
  }
  94% {
    clip-path: polygon(0 18%, 100% 18%, 100% 36%, 0 36%);
  }
  95% {
    clip-path: polygon(0 28%, 100% 28%, 100% 37%, 0 37%);
  }
  96% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
  }
  97% {
    clip-path: polygon(0 91%, 100% 91%, 100% 13%, 0 13%);
  }
  98% {
    clip-path: polygon(0 26%, 100% 26%, 100% 85%, 0 85%);
  }
  99% {
    clip-path: polygon(0 84%, 100% 84%, 100% 55%, 0 55%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
  }
}
@-webkit-keyframes anim-glitch-hide {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
  }
  89% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
  }
  91% {
    clip-path: polygon(0 100%, 100% 100%, 100% 47%, 0 47%);
  }
  92% {
    clip-path: polygon(0 93%, 100% 93%, 100% 19%, 0 19%);
  }
  93% {
    clip-path: polygon(0 18%, 100% 18%, 100% 50%, 0 50%);
  }
  94% {
    clip-path: polygon(0 18%, 100% 18%, 100% 36%, 0 36%);
  }
  95% {
    clip-path: polygon(0 28%, 100% 28%, 100% 37%, 0 37%);
  }
  96% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
  }
  97% {
    clip-path: polygon(0 91%, 100% 91%, 100% 13%, 0 13%);
  }
  98% {
    clip-path: polygon(0 26%, 100% 26%, 100% 85%, 0 85%);
  }
  99% {
    clip-path: polygon(0 84%, 100% 84%, 100% 55%, 0 55%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
  }
}
@-o-keyframes anim-glitch-hide {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
  }
  89% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
  }
  91% {
    clip-path: polygon(0 100%, 100% 100%, 100% 47%, 0 47%);
  }
  92% {
    clip-path: polygon(0 93%, 100% 93%, 100% 19%, 0 19%);
  }
  93% {
    clip-path: polygon(0 18%, 100% 18%, 100% 50%, 0 50%);
  }
  94% {
    clip-path: polygon(0 18%, 100% 18%, 100% 36%, 0 36%);
  }
  95% {
    clip-path: polygon(0 28%, 100% 28%, 100% 37%, 0 37%);
  }
  96% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
  }
  97% {
    clip-path: polygon(0 91%, 100% 91%, 100% 13%, 0 13%);
  }
  98% {
    clip-path: polygon(0 26%, 100% 26%, 100% 85%, 0 85%);
  }
  99% {
    clip-path: polygon(0 84%, 100% 84%, 100% 55%, 0 55%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
  }
}
@keyframes anim-glitch-hide {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
  }
  89% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
  }
  91% {
    clip-path: polygon(0 100%, 100% 100%, 100% 47%, 0 47%);
  }
  92% {
    clip-path: polygon(0 93%, 100% 93%, 100% 19%, 0 19%);
  }
  93% {
    clip-path: polygon(0 18%, 100% 18%, 100% 50%, 0 50%);
  }
  94% {
    clip-path: polygon(0 18%, 100% 18%, 100% 36%, 0 36%);
  }
  95% {
    clip-path: polygon(0 28%, 100% 28%, 100% 37%, 0 37%);
  }
  96% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
  }
  97% {
    clip-path: polygon(0 91%, 100% 91%, 100% 13%, 0 13%);
  }
  98% {
    clip-path: polygon(0 26%, 100% 26%, 100% 85%, 0 85%);
  }
  99% {
    clip-path: polygon(0 84%, 100% 84%, 100% 55%, 0 55%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
  }
}
@-moz-keyframes anim-glitch-show {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  89% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  91% {
    clip-path: polygon(0 98%, 100% 98%, 100% 67%, 0 67%);
  }
  92% {
    clip-path: polygon(0 7%, 100% 7%, 100% 33%, 0 33%);
  }
  93% {
    clip-path: polygon(0 6%, 100% 6%, 100% 75%, 0 75%);
  }
  94% {
    clip-path: polygon(0 23%, 100% 23%, 100% 23%, 0 23%);
  }
  95% {
    clip-path: polygon(0 28%, 100% 28%, 100% 66%, 0 66%);
  }
  96% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  97% {
    clip-path: polygon(0 41%, 100% 41%, 100% 40%, 0 40%);
  }
  98% {
    clip-path: polygon(0 18%, 100% 18%, 100% 67%, 0 67%);
  }
  99% {
    clip-path: polygon(0 76%, 100% 76%, 100% 100%, 0 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
@-webkit-keyframes anim-glitch-show {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  89% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  91% {
    clip-path: polygon(0 98%, 100% 98%, 100% 67%, 0 67%);
  }
  92% {
    clip-path: polygon(0 7%, 100% 7%, 100% 33%, 0 33%);
  }
  93% {
    clip-path: polygon(0 6%, 100% 6%, 100% 75%, 0 75%);
  }
  94% {
    clip-path: polygon(0 23%, 100% 23%, 100% 23%, 0 23%);
  }
  95% {
    clip-path: polygon(0 28%, 100% 28%, 100% 66%, 0 66%);
  }
  96% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  97% {
    clip-path: polygon(0 41%, 100% 41%, 100% 40%, 0 40%);
  }
  98% {
    clip-path: polygon(0 18%, 100% 18%, 100% 67%, 0 67%);
  }
  99% {
    clip-path: polygon(0 76%, 100% 76%, 100% 100%, 0 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
@-o-keyframes anim-glitch-show {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  89% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  91% {
    clip-path: polygon(0 98%, 100% 98%, 100% 67%, 0 67%);
  }
  92% {
    clip-path: polygon(0 7%, 100% 7%, 100% 33%, 0 33%);
  }
  93% {
    clip-path: polygon(0 6%, 100% 6%, 100% 75%, 0 75%);
  }
  94% {
    clip-path: polygon(0 23%, 100% 23%, 100% 23%, 0 23%);
  }
  95% {
    clip-path: polygon(0 28%, 100% 28%, 100% 66%, 0 66%);
  }
  96% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  97% {
    clip-path: polygon(0 41%, 100% 41%, 100% 40%, 0 40%);
  }
  98% {
    clip-path: polygon(0 18%, 100% 18%, 100% 67%, 0 67%);
  }
  99% {
    clip-path: polygon(0 76%, 100% 76%, 100% 100%, 0 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
@keyframes anim-glitch-show {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  89% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  91% {
    clip-path: polygon(0 98%, 100% 98%, 100% 67%, 0 67%);
  }
  92% {
    clip-path: polygon(0 7%, 100% 7%, 100% 33%, 0 33%);
  }
  93% {
    clip-path: polygon(0 6%, 100% 6%, 100% 75%, 0 75%);
  }
  94% {
    clip-path: polygon(0 23%, 100% 23%, 100% 23%, 0 23%);
  }
  95% {
    clip-path: polygon(0 28%, 100% 28%, 100% 66%, 0 66%);
  }
  96% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  97% {
    clip-path: polygon(0 41%, 100% 41%, 100% 40%, 0 40%);
  }
  98% {
    clip-path: polygon(0 18%, 100% 18%, 100% 67%, 0 67%);
  }
  99% {
    clip-path: polygon(0 76%, 100% 76%, 100% 100%, 0 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
@-moz-keyframes anim-glitch-rotate-titles {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: scale3d(1, 1, 1);
    text-shadow: none;
  }
  89% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: scale3d(1, 1, 1);
    text-shadow: none;
  }
  91% {
    clip-path: polygon(0 57%, 100% 57%, 100% 30%, 0 30%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  92% {
    clip-path: polygon(0 3%, 100% 3%, 100% 15%, 0 15%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  93% {
    clip-path: polygon(0 70%, 100% 70%, 100% 1%, 0 1%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  94% {
    clip-path: polygon(0 99%, 100% 99%, 100% 12%, 0 12%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  95% {
    clip-path: polygon(0 56%, 100% 56%, 100% 43%, 0 43%);
    transform: scale3d(1, 1, 1);
    text-shadow: none;
  }
  96% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: scale3d(-1, -1, 1);
    text-shadow: none;
  }
  97% {
    clip-path: polygon(0 43%, 100% 43%, 100% 32%, 0 32%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  98% {
    clip-path: polygon(0 58%, 100% 58%, 100% 76%, 0 76%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  99% {
    clip-path: polygon(0 1%, 100% 1%, 100% 86%, 0 86%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: scale3d(-1, -1, 1);
    text-shadow: none;
  }
}
@-webkit-keyframes anim-glitch-rotate-titles {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: scale3d(1, 1, 1);
    text-shadow: none;
  }
  89% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: scale3d(1, 1, 1);
    text-shadow: none;
  }
  91% {
    clip-path: polygon(0 57%, 100% 57%, 100% 30%, 0 30%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  92% {
    clip-path: polygon(0 3%, 100% 3%, 100% 15%, 0 15%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  93% {
    clip-path: polygon(0 70%, 100% 70%, 100% 1%, 0 1%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  94% {
    clip-path: polygon(0 99%, 100% 99%, 100% 12%, 0 12%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  95% {
    clip-path: polygon(0 56%, 100% 56%, 100% 43%, 0 43%);
    transform: scale3d(1, 1, 1);
    text-shadow: none;
  }
  96% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: scale3d(-1, -1, 1);
    text-shadow: none;
  }
  97% {
    clip-path: polygon(0 43%, 100% 43%, 100% 32%, 0 32%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  98% {
    clip-path: polygon(0 58%, 100% 58%, 100% 76%, 0 76%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  99% {
    clip-path: polygon(0 1%, 100% 1%, 100% 86%, 0 86%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: scale3d(-1, -1, 1);
    text-shadow: none;
  }
}
@-o-keyframes anim-glitch-rotate-titles {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: scale3d(1, 1, 1);
    text-shadow: none;
  }
  89% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: scale3d(1, 1, 1);
    text-shadow: none;
  }
  91% {
    clip-path: polygon(0 57%, 100% 57%, 100% 30%, 0 30%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  92% {
    clip-path: polygon(0 3%, 100% 3%, 100% 15%, 0 15%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  93% {
    clip-path: polygon(0 70%, 100% 70%, 100% 1%, 0 1%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  94% {
    clip-path: polygon(0 99%, 100% 99%, 100% 12%, 0 12%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  95% {
    clip-path: polygon(0 56%, 100% 56%, 100% 43%, 0 43%);
    transform: scale3d(1, 1, 1);
    text-shadow: none;
  }
  96% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: scale3d(-1, -1, 1);
    text-shadow: none;
  }
  97% {
    clip-path: polygon(0 43%, 100% 43%, 100% 32%, 0 32%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  98% {
    clip-path: polygon(0 58%, 100% 58%, 100% 76%, 0 76%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  99% {
    clip-path: polygon(0 1%, 100% 1%, 100% 86%, 0 86%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: scale3d(-1, -1, 1);
    text-shadow: none;
  }
}
@keyframes anim-glitch-rotate-titles {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: scale3d(1, 1, 1);
    text-shadow: none;
  }
  89% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: scale3d(1, 1, 1);
    text-shadow: none;
  }
  91% {
    clip-path: polygon(0 57%, 100% 57%, 100% 30%, 0 30%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  92% {
    clip-path: polygon(0 3%, 100% 3%, 100% 15%, 0 15%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  93% {
    clip-path: polygon(0 70%, 100% 70%, 100% 1%, 0 1%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  94% {
    clip-path: polygon(0 99%, 100% 99%, 100% 12%, 0 12%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  95% {
    clip-path: polygon(0 56%, 100% 56%, 100% 43%, 0 43%);
    transform: scale3d(1, 1, 1);
    text-shadow: none;
  }
  96% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: scale3d(-1, -1, 1);
    text-shadow: none;
  }
  97% {
    clip-path: polygon(0 43%, 100% 43%, 100% 32%, 0 32%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  98% {
    clip-path: polygon(0 58%, 100% 58%, 100% 76%, 0 76%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  99% {
    clip-path: polygon(0 1%, 100% 1%, 100% 86%, 0 86%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: scale3d(-1, -1, 1);
    text-shadow: none;
  }
}
@-moz-keyframes shining-moves {
  from {
    left: 150vw;
  }
  to {
    left: -150vw;
  }
}
@-webkit-keyframes shining-moves {
  from {
    left: 150vw;
  }
  to {
    left: -150vw;
  }
}
@-o-keyframes shining-moves {
  from {
    left: 150vw;
  }
  to {
    left: -150vw;
  }
}
@keyframes shining-moves {
  from {
    left: 150vw;
  }
  to {
    left: -150vw;
  }
}
/** ----------
* $Media-query
*/
@media only screen and (min-width: 48em) {
  .cc {
    color: #f00;
  }
}
@media only screen and (min-width: 64em) {
  html {
    font-size: 1em;
  }
  .cont {
    height: 100vh;
  }
  .backlogo {
    width: 15em;
    height: 15em;
  }
  .verbose h1 {
    font-size: 3em;
  }
  .mm-hamburger {
    display: none;
  }
  .mm-menu {
    display: block;
    top: 0;
    right: 1em;
    background: transparent;
    width: auto;
  }
  .mm-menu ul li {
    float: left;
  }
  .mm-menu ul li a {
    padding: 0 1em;
    color: #ddd;
  }
  .mm-menu ul li a:hover {
    padding-left: 1em;
    color: #000;
  }
  .mm-menu ul li a:hover::before {
    display: none;
  }
  .mm-menu ul li a:hover:active {
    color: #0ff;
  }
  .mm-menu ul li a:hover:active::before {
    display: none;
  }
  .mm-menu ul li a[disabled] {
    color: rgba(84,82,82,0.3) !important;
    position: relative;
    text-shadow: none;
    box-shadow: none !important;
  }
  .mm-menu ul li a[disabled]:active::after {
    left: 0;
    bottom: -2.1em;
  }
  .mm-menu ul li a[disabled]:hover {
    background: transparent;
  }
  .grabado {
    text-shadow: -1px -1px #999, 1px 1px #fff;
  }
  .mm-hover-box {
    background: transparent;
  }
  .mm-hover-box:hover {
    background: #fff;
    box-shadow: 1px 1px #f00, -1px -1px #0ff;
  }
  .mm-selected-resp {
    text-shadow: -1px -1px #fff, 1px 1px #999;
  }
  .mm-selected {
    box-shadow: none !important;
    background: transparent !important;
  }
  .c-folio {
    padding-top: 2.5em;
  }
  .c-contact {
    padding-top: 4.5em;
  }
  .modal-title {
    font-size: 2em;
  }
  .modal-verbose {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 85.375em) {
  html {
    font-size: 1em;
  }
  .l-cuerpo {
    overflow-y: hidden;
  }
  .c-about .s-title-cont {
    width: 5em;
    height: 21em;
  }
  .c-about .s-title {
    font-size: 5em !important;
  }
  .retrato {
    width: 26em;
    position: absolute;
    left: 6em;
    top: 3em;
  }
  .abt-desc-cont {
    left: auto;
    height: 100%;
    right: -21em;
    transform: skewY(0) skewX(-41deg);
    margin-top: -3em;
  }
  .abt-desc {
    transform: skewY(0) skewX(41deg);
    margin: -2em auto 0 12em;
  }
  .c-folio {
    overflow-y: auto;
  }
}
@media only screen and (min-width: 120em) {
  html {
    font-size: 1.25em;
  }
  .backlogo {
    width: 15em;
    height: 15em;
  }
  .c-about .s-title-cont {
    width: 6em;
    height: 25em;
  }
  .c-about .s-title {
    font-size: 6em !important;
  }
  .retrato {
    width: 30em;
  }
  .abt-desc {
    margin: 1em auto 0 19em;
  }
}
@media only screen and (min-width: 160em) {
  html {
    font-size: 1.25em;
  }
  html .c-about .s-title-cont {
    width: 8em;
    height: 35em;
  }
  html .c-about .s-title {
    font-size: 8em !important;
  }
  html .retrato {
    width: 40em;
  }
  html .abt-desc {
    margin: 8em auto 0 35em;
  }
}
