@charset "UTF-8";
/** ################################################### */
/**
*  [ @Master ] - Personal Page (alpha 0.1)
*    Author: Gunther Molina
*    Modificacion:
*        09/01/19 - [/alpha]
*/
/** ----------
*   $INDEX
*   ----------
*        -Fonts      //Definicion de Fontfaces
*        -Reset      //Reset basico
*        -Functions  //Funciones (Stylus)
*        -Base       //Estilos basicos
*        -Core       //Estilos estructurales
*        -Modulos    //Estilos de Modulos
*
*        -Keyframes
*        -Media-querys
*/
/** ################################################### */
/** ----------
* $Fonts
*/
@font-face {
  font-family: Ubuntu;
  src: url("../fonts/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: Ubuntu-Bold;
  src: url("../fonts/Ubuntu-Bold.ttf");
}
@font-face {
  font-family: Ubuntu-Mono;
  src: url("../fonts/UbuntuMono-Regular.ttf");
}
/** ----------
* $Reset
*/
* {
  text-decoration: none;
  list-style: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  box-sizing: border-box;
}
html {
  line-height: 1.5em;
  font-size: 1em;
}
/** ----------
* $Base
*/
html {
  color: #fff;
  font-family: Ubuntu;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
form {
  text-align: center;
}
.inp-cont {
  display: inline-block;
  position: relative;
  margin-bottom: 0.5em;
  width: 100%;
}
.inp-cont .icon {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  font-size: 1.3em;
  width: 1.5em;
  height: 100%;
  line-height: 1.8em;
  text-align: center;
}
.inp-cont input,
.inp-cont textarea {
  padding-left: 1.7em;
  width: 100%;
}
.inp-cont textarea {
  height: 10.3em;
  resize: none;
}
textarea,
input {
  background: #fff;
  border: 3px solid #000;
  padding: 0.2em 0.5em;
  font-size: 1.3em;
  line-height: 1em;
  font-family: Ubuntu-Mono;
  display: block;
  margin: auto;
}
textarea::placeholder,
input::placeholder {
  text-align: center;
}
input:invalid {
  color: #f00;
}
input:invalid:focus {
  color: #000;
}
input:valid {
  color: #111;
}
input:valid:focus {
  color: #000;
}
input[type='submit']:valid {
  color: #fff;
}
input[type='submit']:focus {
  outline: none;
}
input[type='submit']:active {
  background: #05b5b5;
}
.g487 {
  fill: #fff;
  width: 150%;
  height: 150%;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logoCian {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translate(-6px, -3px);
}
.logoCian .trazo-Logo {
  fill: #0ff !important;
}
.logoRojo {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  transform: translate(6px, 2px);
}
.logoRojo .trazo-Logo {
  fill: #f00 !important;
}
.link {
  font-weight: bold;
  text-shadow: 0 0 1px #0ff;
}
.link:hover {
  text-shadow: 1px 1px 0 #f00, -1px -1px 0 #0ff;
}
/** ----------
* $Core
*/
.cont {
  postion: relative;
  width: 100vw;
}
.l-portada {
  background-color: #fafafa;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Ubuntu-Mono;
}
.backlogo {
  width: 10em;
  height: 10em;
  background-color: #000;
  transform: rotate(45deg);
  margin-top: 2em;
  box-shadow: 1px 1px 2px #999;
}
.logo {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: rotate(-45deg);
}
.verbose {
  background-color: #000;
  display: inline-block;
  padding: 0.5em;
  position: relative;
  text-align: center;
  white-space: nowrap;
  margin-top: 4em;
  box-shadow: 1px 1px 2px #999;
}
.verbose .ver-name {
  font-size: 1.5em;
  line-height: 1em;
  letter-spacing: 0.1em;
}
.verbose .ver-sub {
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1em;
  margin-top: -0.2em;
  text-align: left;
  padding-left: 0.5em;
}
.verbose .contact {
  letter-spacing: 0.05em;
  cursor: pointer;
  padding: 0.5em;
  background-color: transparent;
  color: #000;
  position: absolute;
  border: none;
  right: 2px;
  bottom: -1.6em;
  font-family: Ubuntu-Mono;
  font-size: 0.8em;
  font-weight: bold;
}
.verbose .contact:hover {
  color: #f00;
}
.verbose .contact:focus {
  outline: none;
}
.l-cuerpo {
  padding-top: 1.5em;
  width: 100vw;
  height: 100vh;
  font-family: Ubuntu-Mono;
  overflow-y: auto;
  overflow-x: hidden;
  margin: auto;
  transform: skewX(20deg);
}
.ShiningLines {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 150vw;
  width: 10vw;
  height: 100vh;
  transform: skewX(-20deg);
  animation: shining-moves 6s infinite;
}
.ShiningLines::before,
.ShiningLines::after {
  background-color: #fff;
  position: absolute;
  top: 0;
  height: 100vh;
  content: '';
}
.ShiningLines::after {
  left: 40vw;
  width: 20vw;
}
.ShiningLines::before {
  left: 15vw;
  width: 5vw;
}
.skw-cont {
  background-color: #000;
  position: absolute;
  top: 0;
  left: 150vw;
  width: 200vw;
  height: 100vh;
  transform: skewX(-20deg);
  font-family: Ubuntu-Mono;
  box-shadow: -2px -2px 30px #bbb;
}
.c-section {
  width: 100%;
  padding: 2em 1em 1em 1em;
}
.c-about .s-title-cont {
  float: left;
  margin-top: 4em;
  margin-right: -100%;
  display: inline-block;
  width: 3em;
  height: 13em;
}
.c-about .s-title {
  writing-mode: vertical-lr;
  font-size: 3em !important;
  width: 100%;
}
.abt-desc-cont {
  background: #000;
  position: absolute;
  left: 0;
  transform: skewY(-12deg);
  z-index: -1;
  margin-top: -4em;
  padding: 5em 1em 1em 1em;
}
.abt-desc {
  font-size: 1.125em;
  transform: skewY(12deg);
}
.retrato {
  width: 15em;
  display: block;
  margin: auto;
}
.c-contact {
  color: #fff;
  width: 100%;
  min-height: 100%;
}
.c-contact .s-title {
  color: #000;
  margin-bottom: 0.5em;
}
.c-form {
  margin: auto;
  width: 80%;
}
.c-folio .s-title {
  text-align: right;
  font-size: 3em;
  padding-right: 1em;
}
.fl-desc {
  line-height: 1em;
  margin: 0.5em 0 1em 0;
}
.fl-menu {
  display: flex;
}
.fl-select {
  font-size: 1.2em;
  padding: 0.2em 0.5em;
  font-family: Ubuntu-Mono;
  background: #fff;
  border: 3px solid #000;
  color: #000;
  display: block;
  margin: auto;
  width: 50%;
}
.fl-select option {
  background: #fafafa;
}
.fl-search {
  width: 50%;
}
.fl-display {
  padding-top: 0.5em;
}
.fl-ele {
  background: #fafafa;
  display: flex;
  padding: 0.5em;
  margin-bottom: 0.2em;
}
.fl-ele .ele-verb {
  padding-left: 0.5em;
  width: 100%;
}
.fl-ele .ele-verb .ele-title {
  color: #000;
  font-weight: bold;
  text-align: center;
}
.fl-ele .ele-verb .ele-desc {
  font-size: 1em;
  text-align: center;
  color: #000;
}
.fl-ele .ele-verb .ele-leng {
  font-size: 0.7em;
  text-align: right;
  display: block;
  color: #666;
  padding-right: 1em;
  font-style: italic;
}
.ele-t1 img {
  width: 6em;
  height: 6em;
  background: #f00;
}
.ele-t2 .ele-verb,
.ele-t3 .ele-verb {
  width: 100%;
}
.ele-t3 .ele-verb {
  display: flex;
  line-height: 1em;
  align-items: center;
  padding: 0;
  justify-content: space-between;
}
.ele-t3 .ele-verb .ele-title {
  background: #fff;
  border-right: 1px solid #999;
  text-align: left;
  display: inline-block;
  padding-right: 0.5em;
}
.ele-t3 .ele-verb .ele-desc {
  padding: 0 0.5em;
}
.ele-t3 .ele-verb .ele-leng {
  padding: 0;
}
.glitch-show {
  animation: anim-glitch-show 3s infinite linear alternate;
}
.glitch-hide {
  display: block;
  animation: anim-glitch-hide 3s infinite linear alternate;
}
.glitch-rotate-titles {
  animation: anim-glitch-rotate-titles 2s infinite linear alternate;
}
.menues-backbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 0.5em;
  transition: 500ms;
}
.social {
  z-index: 9;
  top: 0.5em;
  left: 0.5em;
}
.social a {
  text-decoration: none;
  padding: 0.4em;
}
.social a:hover i {
  color: #666;
}
.social a:active i {
  color: #f00;
}
.social:focus {
  outline: none;
}
.social i {
  font-size: 1.2em;
  color: #e0e0e0;
  text-shadow: -1px -1px #999;
  transition: 300ms;
}
.s-title {
  font-size: 2em;
  line-height: 1em;
}
.skillcloud li {
  display: inline-block;
}
.skillcloud li::before {
  content: '< ';
  color: #fff;
}
.skillcloud li::after {
  content: ' >';
  color: #fff;
}
#mm-toggle {
  display: none;
}
#mm-toggle:checked ~ .mm-hamburger .mm-btn {
  background-color: transparent;
}
#mm-toggle:checked ~ .mm-hamburger .mm-btn::before {
  top: 0;
  transform: rotate(45deg);
  background-color: #f00;
}
#mm-toggle:checked ~ .mm-hamburger .mm-btn::after {
  top: 0;
  transform: rotate(-45deg);
  background-color: #f00;
}
#mm-toggle:checked ~ .mm-menu {
  display: block;
}
.mm-hamburger {
  background-color: #000;
  width: 2em;
  height: 2em;
  position: relative;
  display: block;
  cursor: pointer;
}
.mm-btn {
  width: 70%;
  height: 13%;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 300ms;
}
.mm-btn::before,
.mm-btn::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: 300ms;
}
.mm-btn::before {
  top: -200%;
}
.mm-btn::after {
  top: 200%;
}
.mm-menu {
  display: none;
  position: absolute;
  top: 2em;
  right: 0;
  background-color: #000;
  padding: 0.5em 0;
  width: 10em;
}
.mm-menu a {
  text-align: right;
  color: #fff;
  user-select: none;
  padding: 0.5em 1.5em;
  width: 100%;
  height: 100%;
  display: block;
}
.mm-menu a:hover {
  padding-left: 0.7em;
  color: #0ff;
}
.mm-menu a:hover::before {
  content: '> ';
}
.mm-menu a:active {
  color: #666;
}
.mm-menu a:active::before {
  content: '>';
}
.mm-menu a[disabled] {
  color: #333 !important;
  cursor: not-allowed;
}
.mm-menu a[disabled]:hover::before {
  display: none;
}
.mm-menu a[disabled]:active::after {
  position: absolute;
  content: attr(data-info);
  background: #000;
  color: #fff;
  border: 1px solid #666;
  border-radius: 5px;
  left: 0;
  font-size: 0.7em;
  padding: 0 0.5em;
}
.mm-selected {
  color: #f00 !important;
  transform: rotate(180deg);
  text-align: right !important;
}
.mm-selected:hover::before {
  display: none;
}
.btn-submit {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border: 3px solid #000;
  box-shadow: 1px 1px 2px #999;
}
.btn-submit input {
  color: #fff;
  background: #000;
  padding: 0.5em;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
}
.btn-submit::after,
.btn-submit::before {
  content: '';
  background: #fff;
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  transform: skewX(-45deg);
  opacity: 0.3;
  transition: 1000ms;
  pointer-events: none;
}
.btn-submit::before {
  width: 1em;
  left: 10em;
}
.btn-submit::after {
  width: 0.5em;
  left: 11.5em;
}
.btn-submit:hover::before {
  left: 0em;
}
.btn-submit:hover::after {
  left: 1.5em;
}
.btn {
  color: #fff;
  background: #000;
  border: 3px solid #000;
  padding: 0.5em;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  display: block;
}
.btn::before,
.btn::after {
  content: '';
  background: #fff;
  display: block;
  width: 1em;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0.5em;
  transform: skewX(45deg);
  opacity: 0.3;
  transition: 500ms;
}
.btn::after {
  width: 0.5em;
  left: 2em;
}
.btn:hover::after {
  left: 3.5em;
}
.btn:hover::before {
  left: 2em;
}
.btn:active {
  background: #008000;
}
.search-box {
  background: url("../img/searchicon.png") no-repeat 0.3em center;
  background-color: #fff;
  padding-left: 1.5em;
}
.search-box::placeholder {
  text-align: left;
}
/** ----------
* $Keyframes
*/
@-moz-keyframes anim-glitch-hide {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
  }
  89% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
  }
  91% {
    clip-path: polygon(0 45%, 100% 45%, 100% 87%, 0 87%);
  }
  92% {
    clip-path: polygon(0 24%, 100% 24%, 100% 75%, 0 75%);
  }
  93% {
    clip-path: polygon(0 78%, 100% 78%, 100% 27%, 0 27%);
  }
  94% {
    clip-path: polygon(0 6%, 100% 6%, 100% 20%, 0 20%);
  }
  95% {
    clip-path: polygon(0 98%, 100% 98%, 100% 72%, 0 72%);
  }
  96% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
  }
  97% {
    clip-path: polygon(0 59%, 100% 59%, 100% 23%, 0 23%);
  }
  98% {
    clip-path: polygon(0 97%, 100% 97%, 100% 48%, 0 48%);
  }
  99% {
    clip-path: polygon(0 27%, 100% 27%, 100% 53%, 0 53%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
  }
}
@-webkit-keyframes anim-glitch-hide {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
  }
  89% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
  }
  91% {
    clip-path: polygon(0 45%, 100% 45%, 100% 87%, 0 87%);
  }
  92% {
    clip-path: polygon(0 24%, 100% 24%, 100% 75%, 0 75%);
  }
  93% {
    clip-path: polygon(0 78%, 100% 78%, 100% 27%, 0 27%);
  }
  94% {
    clip-path: polygon(0 6%, 100% 6%, 100% 20%, 0 20%);
  }
  95% {
    clip-path: polygon(0 98%, 100% 98%, 100% 72%, 0 72%);
  }
  96% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
  }
  97% {
    clip-path: polygon(0 59%, 100% 59%, 100% 23%, 0 23%);
  }
  98% {
    clip-path: polygon(0 97%, 100% 97%, 100% 48%, 0 48%);
  }
  99% {
    clip-path: polygon(0 27%, 100% 27%, 100% 53%, 0 53%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
  }
}
@-o-keyframes anim-glitch-hide {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
  }
  89% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
  }
  91% {
    clip-path: polygon(0 45%, 100% 45%, 100% 87%, 0 87%);
  }
  92% {
    clip-path: polygon(0 24%, 100% 24%, 100% 75%, 0 75%);
  }
  93% {
    clip-path: polygon(0 78%, 100% 78%, 100% 27%, 0 27%);
  }
  94% {
    clip-path: polygon(0 6%, 100% 6%, 100% 20%, 0 20%);
  }
  95% {
    clip-path: polygon(0 98%, 100% 98%, 100% 72%, 0 72%);
  }
  96% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
  }
  97% {
    clip-path: polygon(0 59%, 100% 59%, 100% 23%, 0 23%);
  }
  98% {
    clip-path: polygon(0 97%, 100% 97%, 100% 48%, 0 48%);
  }
  99% {
    clip-path: polygon(0 27%, 100% 27%, 100% 53%, 0 53%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
  }
}
@keyframes anim-glitch-hide {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
  }
  89% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
  }
  91% {
    clip-path: polygon(0 45%, 100% 45%, 100% 87%, 0 87%);
  }
  92% {
    clip-path: polygon(0 24%, 100% 24%, 100% 75%, 0 75%);
  }
  93% {
    clip-path: polygon(0 78%, 100% 78%, 100% 27%, 0 27%);
  }
  94% {
    clip-path: polygon(0 6%, 100% 6%, 100% 20%, 0 20%);
  }
  95% {
    clip-path: polygon(0 98%, 100% 98%, 100% 72%, 0 72%);
  }
  96% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
  }
  97% {
    clip-path: polygon(0 59%, 100% 59%, 100% 23%, 0 23%);
  }
  98% {
    clip-path: polygon(0 97%, 100% 97%, 100% 48%, 0 48%);
  }
  99% {
    clip-path: polygon(0 27%, 100% 27%, 100% 53%, 0 53%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
  }
}
@-moz-keyframes anim-glitch-show {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  89% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  91% {
    clip-path: polygon(0 14%, 100% 14%, 100% 20%, 0 20%);
  }
  92% {
    clip-path: polygon(0 21%, 100% 21%, 100% 68%, 0 68%);
  }
  93% {
    clip-path: polygon(0 0%, 100% 0%, 100% 58%, 0 58%);
  }
  94% {
    clip-path: polygon(0 38%, 100% 38%, 100% 32%, 0 32%);
  }
  95% {
    clip-path: polygon(0 98%, 100% 98%, 100% 93%, 0 93%);
  }
  96% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  97% {
    clip-path: polygon(0 26%, 100% 26%, 100% 30%, 0 30%);
  }
  98% {
    clip-path: polygon(0 5%, 100% 5%, 100% 7%, 0 7%);
  }
  99% {
    clip-path: polygon(0 38%, 100% 38%, 100% 18%, 0 18%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
@-webkit-keyframes anim-glitch-show {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  89% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  91% {
    clip-path: polygon(0 14%, 100% 14%, 100% 20%, 0 20%);
  }
  92% {
    clip-path: polygon(0 21%, 100% 21%, 100% 68%, 0 68%);
  }
  93% {
    clip-path: polygon(0 0%, 100% 0%, 100% 58%, 0 58%);
  }
  94% {
    clip-path: polygon(0 38%, 100% 38%, 100% 32%, 0 32%);
  }
  95% {
    clip-path: polygon(0 98%, 100% 98%, 100% 93%, 0 93%);
  }
  96% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  97% {
    clip-path: polygon(0 26%, 100% 26%, 100% 30%, 0 30%);
  }
  98% {
    clip-path: polygon(0 5%, 100% 5%, 100% 7%, 0 7%);
  }
  99% {
    clip-path: polygon(0 38%, 100% 38%, 100% 18%, 0 18%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
@-o-keyframes anim-glitch-show {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  89% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  91% {
    clip-path: polygon(0 14%, 100% 14%, 100% 20%, 0 20%);
  }
  92% {
    clip-path: polygon(0 21%, 100% 21%, 100% 68%, 0 68%);
  }
  93% {
    clip-path: polygon(0 0%, 100% 0%, 100% 58%, 0 58%);
  }
  94% {
    clip-path: polygon(0 38%, 100% 38%, 100% 32%, 0 32%);
  }
  95% {
    clip-path: polygon(0 98%, 100% 98%, 100% 93%, 0 93%);
  }
  96% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  97% {
    clip-path: polygon(0 26%, 100% 26%, 100% 30%, 0 30%);
  }
  98% {
    clip-path: polygon(0 5%, 100% 5%, 100% 7%, 0 7%);
  }
  99% {
    clip-path: polygon(0 38%, 100% 38%, 100% 18%, 0 18%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
@keyframes anim-glitch-show {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  89% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  91% {
    clip-path: polygon(0 14%, 100% 14%, 100% 20%, 0 20%);
  }
  92% {
    clip-path: polygon(0 21%, 100% 21%, 100% 68%, 0 68%);
  }
  93% {
    clip-path: polygon(0 0%, 100% 0%, 100% 58%, 0 58%);
  }
  94% {
    clip-path: polygon(0 38%, 100% 38%, 100% 32%, 0 32%);
  }
  95% {
    clip-path: polygon(0 98%, 100% 98%, 100% 93%, 0 93%);
  }
  96% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  97% {
    clip-path: polygon(0 26%, 100% 26%, 100% 30%, 0 30%);
  }
  98% {
    clip-path: polygon(0 5%, 100% 5%, 100% 7%, 0 7%);
  }
  99% {
    clip-path: polygon(0 38%, 100% 38%, 100% 18%, 0 18%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
@-moz-keyframes anim-glitch-rotate-titles {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: scale3d(1, 1, 1);
    text-shadow: none;
  }
  89% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: scale3d(1, 1, 1);
    text-shadow: none;
  }
  91% {
    clip-path: polygon(0 47%, 100% 47%, 100% 4%, 0 4%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  92% {
    clip-path: polygon(0 49%, 100% 49%, 100% 57%, 0 57%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  93% {
    clip-path: polygon(0 8%, 100% 8%, 100% 3%, 0 3%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  94% {
    clip-path: polygon(0 6%, 100% 6%, 100% 10%, 0 10%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  95% {
    clip-path: polygon(0 63%, 100% 63%, 100% 79%, 0 79%);
    transform: scale3d(1, 1, 1);
    text-shadow: none;
  }
  96% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: scale3d(-1, -1, 1);
    text-shadow: none;
  }
  97% {
    clip-path: polygon(0 34%, 100% 34%, 100% 4%, 0 4%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  98% {
    clip-path: polygon(0 68%, 100% 68%, 100% 81%, 0 81%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  99% {
    clip-path: polygon(0 50%, 100% 50%, 100% 65%, 0 65%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: scale3d(-1, -1, 1);
    text-shadow: none;
  }
}
@-webkit-keyframes anim-glitch-rotate-titles {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: scale3d(1, 1, 1);
    text-shadow: none;
  }
  89% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: scale3d(1, 1, 1);
    text-shadow: none;
  }
  91% {
    clip-path: polygon(0 47%, 100% 47%, 100% 4%, 0 4%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  92% {
    clip-path: polygon(0 49%, 100% 49%, 100% 57%, 0 57%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  93% {
    clip-path: polygon(0 8%, 100% 8%, 100% 3%, 0 3%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  94% {
    clip-path: polygon(0 6%, 100% 6%, 100% 10%, 0 10%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  95% {
    clip-path: polygon(0 63%, 100% 63%, 100% 79%, 0 79%);
    transform: scale3d(1, 1, 1);
    text-shadow: none;
  }
  96% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: scale3d(-1, -1, 1);
    text-shadow: none;
  }
  97% {
    clip-path: polygon(0 34%, 100% 34%, 100% 4%, 0 4%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  98% {
    clip-path: polygon(0 68%, 100% 68%, 100% 81%, 0 81%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  99% {
    clip-path: polygon(0 50%, 100% 50%, 100% 65%, 0 65%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: scale3d(-1, -1, 1);
    text-shadow: none;
  }
}
@-o-keyframes anim-glitch-rotate-titles {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: scale3d(1, 1, 1);
    text-shadow: none;
  }
  89% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: scale3d(1, 1, 1);
    text-shadow: none;
  }
  91% {
    clip-path: polygon(0 47%, 100% 47%, 100% 4%, 0 4%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  92% {
    clip-path: polygon(0 49%, 100% 49%, 100% 57%, 0 57%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  93% {
    clip-path: polygon(0 8%, 100% 8%, 100% 3%, 0 3%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  94% {
    clip-path: polygon(0 6%, 100% 6%, 100% 10%, 0 10%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  95% {
    clip-path: polygon(0 63%, 100% 63%, 100% 79%, 0 79%);
    transform: scale3d(1, 1, 1);
    text-shadow: none;
  }
  96% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: scale3d(-1, -1, 1);
    text-shadow: none;
  }
  97% {
    clip-path: polygon(0 34%, 100% 34%, 100% 4%, 0 4%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  98% {
    clip-path: polygon(0 68%, 100% 68%, 100% 81%, 0 81%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  99% {
    clip-path: polygon(0 50%, 100% 50%, 100% 65%, 0 65%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: scale3d(-1, -1, 1);
    text-shadow: none;
  }
}
@keyframes anim-glitch-rotate-titles {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: scale3d(1, 1, 1);
    text-shadow: none;
  }
  89% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: scale3d(1, 1, 1);
    text-shadow: none;
  }
  91% {
    clip-path: polygon(0 47%, 100% 47%, 100% 4%, 0 4%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  92% {
    clip-path: polygon(0 49%, 100% 49%, 100% 57%, 0 57%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  93% {
    clip-path: polygon(0 8%, 100% 8%, 100% 3%, 0 3%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  94% {
    clip-path: polygon(0 6%, 100% 6%, 100% 10%, 0 10%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  95% {
    clip-path: polygon(0 63%, 100% 63%, 100% 79%, 0 79%);
    transform: scale3d(1, 1, 1);
    text-shadow: none;
  }
  96% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: scale3d(-1, -1, 1);
    text-shadow: none;
  }
  97% {
    clip-path: polygon(0 34%, 100% 34%, 100% 4%, 0 4%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  98% {
    clip-path: polygon(0 68%, 100% 68%, 100% 81%, 0 81%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  99% {
    clip-path: polygon(0 50%, 100% 50%, 100% 65%, 0 65%);
    text-shadow: 1px 2px 0 #f00, -2px -2px 0 #0ff;
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: scale3d(-1, -1, 1);
    text-shadow: none;
  }
}
@-moz-keyframes shining-moves {
  from {
    left: 150vw;
  }
  to {
    left: -150vw;
  }
}
@-webkit-keyframes shining-moves {
  from {
    left: 150vw;
  }
  to {
    left: -150vw;
  }
}
@-o-keyframes shining-moves {
  from {
    left: 150vw;
  }
  to {
    left: -150vw;
  }
}
@keyframes shining-moves {
  from {
    left: 150vw;
  }
  to {
    left: -150vw;
  }
}
/** ----------
* $Media-query
*/
@media only screen and (min-width: 48em) {
  .cc {
    color: #f00;
  }
}
@media only screen and (min-width: 64em) {
  html {
    font-size: 1.2em;
  }
  .cont {
    height: 100vh;
  }
  .verbose h1 {
    font-size: 2em;
  }
}
@media only screen and (min-width: 85.375em) {
  html {
    font-size: 1.6em;
  }
}
@media only screen and (min-width: 120em) {
  html {
    font-size: 2.5em;
  }
  .backlogo {
    width: 15em;
    height: 15em;
  }
}
@media only screen and (min-width: 160em) {
  html {
    font-size: 3em;
  }
}
