//- include/about.jade

.c-section.c-about
  h2.s-title About me
  img.retrato(src='./assets/img/Retrato.png' alt='Autoretraro')
  p Occaecat amet nisi ut lorem ad amet dolore in, est, ea. Amet consequat occaecat enim labore excepteur, aliqua, ut incididunt occaecat, labore. Ipsum ut esse, dolore labore elit, culpa laboris dolore velit esse occaecat ad. Velit officia et, consectetur laborum exercitation, velit, aliquip pariatur, lorem cupidatat anim?
  ul.skillcloud
    li  Java
    li  Php
    li  HTML5
    li  JavaScript
