//- include/about.jade

.c-section.c-about
  .s-title-cont
    h2.s-title.glitch-rotate-titles About me
  img.retrato(src='./assets/img/Retrato.png' alt='Autoretraro')
  .abt-desc-cont
    .abt-desc
        p Hola! Soy Gunther Molina,<br> Desarrollador y diseñador web. <br> Siento una gran pasión por la tecnología y la curiosidad me lleva a perfeccionar cada día mas mis conocimientos y habilidades en la informática.
        hr
        p Te invito a explorar mis trabajos en:
        ul.link-list
          li 
            a(href='https://github.com/GTr487') Github
          li 
            a(href='#')#viewPortafolio Portafolio
          li 
            a(href='https://www.freecodecamp.org/gtr487') FreeCodeCamp
        p.blog-prox Próximamente podrás leerme en mi blog.
        hr
        p Si te gustan mis trabajo, te gustaría conocerme un poco mas o quieres trabajar conmigo, puedes escribirme! 
        a.link-contact.link-btn CONTACTAR
        p.abt-freelance#abt-freelance Actualmente me encuentro disponible para aceptar encargos freelance.
