//- include/about.jade

.c-section.c-about
  .s-title-cont
    h2.s-title.glitch-rotate-titles About me
  img.retrato(src='./assets/img/Retrato.png' alt='Autoretraro')
  .abt-desc-cont
    p.abt-desc Hola! Soy Gunther Molina, estudiante de ingeniería Informática, con una gran pasión por la Computacion y la tecnología. Entre mis habilidades, están el diseño y desarrollo tanto front como back-end (PHP). Aunque actualmente me encuentro ahondando en Lenguajes de programación como Python y Java, y aprendiendo cada día mas sobre seguridad y redes. Te invito a explorar tanto mi portafolio como mi repositorio en Github, perfil de codeCamp y blog personal, y si te gustan mis trabajo o te gustaría conocerme un poco mas puedes contactarme por medio de este <a class='link-contact link'>link</a>.
    ul.skillcloud
      li  Python
      li  Php
      li  HTML5
      li  JavaScript
