//- include/contact.jade

.c-section.c-contact(style='display: none')
  form.c-form
    h2.s-title.glitch-rotate-titles Contactame
    .inp-cont
      i.far.fa-user.icon
      input(type="text" placeholder="Nombre" pattern="[ A-Za-zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ.-]+" title='Debes introducir un nombre valido' required)
    .inp-cont
      i.fas.fa-at.icon
      input(type="email" placeholder="Email" required)
    .inp-cont
      i.far.fa-comment.icon
      textarea(placeholder="Mensaje" required)
    .btn-submit
      input(type="submit" value="Enviar")
