//- include/folio.jade
.c-section.c-folio
  .fl-cab
    h2.s-title.glitch-rotate-titles FOLIO
    p.fl-desc En esta secci칩n podr치s ver algunos de los trabajos, retos o ejercicios de programaci칩n y dise침o que voy realizando. Eres libre de explorar estas tierras, y recuerda que en esta casa todo el feedback se recibe con gusto. 
    .fl-menu
      input(type='text' placeholder='Buscar...')#flSearch.search-box.fl-search
      select#flSelect.fl-select
        option(value='' disabled selected)  Filtrar por:
        option(value='todo')             Ver todo
        option(value='trabajo')          Trabajos
        option(value='codecamp')         FreeCodeCamp
        option(value='practica')         Practicas
        option(value='challenge')        Code Challenges
        option(value='varios')           Varios
  
  .fl-cont
    .fl-display#flDisplay
      
      .fl-ele.ele-t1(data-categoria='varios')
        .ele-verb
          .ele-cab
            i.fas.fa-code.ele-icon
            h3.ele-title Elemento de Ejemplo
          p.ele-desc Si estas viendo este elemento, posiblemente no se cargaron bien los recursos
          p.ele-leng 
            span.ele-leng-color
            span.ele-leng-name lenguaje
