//- include/nav.jade

.main-menu
  input#mm-toggle(type='checkbox')
  label.mm-hamburger(for='mm-toggle')
    span.mm-btn
  nav.mm-menu
    ul
      li
        a.mm-selected.grabado#mmHome(href='#' data-target='home') Home
      li
        a#mmAbout.grabado(href='#' data-target='about') Sobre_mi
      li
        a#mmFolio.grabado(href='#' data-target='folio') Folio
      li
        a#mmBlog.grabado(href='#' disabled data-info='Proximamente') Blog
      li
        a#mmContact.grabado(href='#' data-target='contact') Contactame
